extends default

block content
  div(class='container')
    h2 Editar Nuevo Cliente
    form(action='/clientes/change' method="POST")
      input(type='hidden' name='id' value=client.id)
      div(class='form-group')
        label(for='name') Nombre
        input(type='text' class='form-control' id='name' name='name' placeholder='Ingrese el nombre del cliente', required, value= client.name)
      div(class='form-group')
        label(for='email') Correo
        input(type='email' class='form-control' id='email' name='email' placeholder='Ingrese el correo del cliente', required, value= client.email)
      div(class='form-group')
        label(for='direction') Direccion
        input(type='text' class='form-control' id='direction' name='direction' placeholder='Ingrese la direccion del cliente', value= client.direction)
      div(class='form-group')
        label(for='phone') Numero de Telefono
        input(type='phone' class='form-control' id='phone' name='phone' aria-describedby='phoneHelp' placeholder='985478514', value= client.phone)
      button(class='btn btn-success' type='submit') Guardar
